
<h2>Products</h2>
<div *ngFor="let product of products">
<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <a [title] = "product.name + 'details'">
            {{ product.name }}
            </a>
    </mat-panel-title>
    
            </mat-expansion-panel-header>
            <p *ngIf="product.description">
                Description : {{product.description}}
                </p>
                
                <button (click)="share()">
                  Share
                </button>
                
                <app-product-alert 
                [product]="product"
                (notify)="onNotify()"></app-product-alert>
            </mat-expansion-panel>


</mat-accordion>
</div>
